<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @professor.nome %>
</p>

<p>
  <strong>Matricula:</strong>
  <%= @professor.matricula %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @professor.cep %>
</p>

<p>
  <strong>Rua:</strong>
  <%= @professor.rua %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @professor.numero %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @professor.bairro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @professor.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @professor.estado %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @professor.celular %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @professor.telefone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @professor.email %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @professor.senha %>
</p>

<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>
