<form style="margin: 0px 0px 0px 16px;">
		Aluno: <input type="radio" name="email" value="candidato" />
		Empresa: <input type="radio" checked="checked" value="empresa" />
		Professor: <input type="radio" value="professor" />
</form>
<table id="new_empresa">
<%= form_for(@empresa) do |f| %>
  <% if @empresa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@empresa.errors.count, "erro") %> encontrado(s):</h2>

      <ul>
      <% @empresa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <tr><td colspan="2"><h6 class="title text-black" style="margin-bottom: 10px; padding: 0 15px;">
							<strong>Dados da empresa: </strong>
						</h6></td></tr>
	<tr><td width="200px"> 
    <%= f.text_field :nome_fantasia, :class => 'form-control', :placeholder => 'Nome fantasia' %>
   	</td>    <td>
    <%= f.text_field :razao_social, :class => 'form-control', :placeholder => 'Razão social' %>
    </td></tr>
    <tr><td>
    <%= f.text_field :cnpj, :class => 'form-control', :placeholder => 'CNPJ' %>
    </td><td>
    </tr>
    <tr><td colspan="2"><h6 class="title text-black" style="margin-bottom: 10px; padding: 0 15px;">
							<strong>Endereço: </strong>
						</h6></td></tr>
    <tr><td>
    <%= f.text_field :cep, :class => 'form-control', :placeholder => 'Cep',  :onblur => 'getEnderecoEmpresa()' %>
    </td><td>
    <%= f.text_field :rua, :class => 'form-control', :placeholder => 'Rua' %>
    </td></tr>
    <tr><td>
    <%= f.text_field :numero, :class => 'form-control', :placeholder => 'Número' %>
    </td></tr>
    <tr><td>
    <%= f.text_field :bairro, :class => 'form-control', :placeholder => 'Bairro' %>
    </td><td>
    <%= f.text_field :cidade, :class => 'form-control', :placeholder => 'Cidade' %>
    </td></tr>
    <tr><td>
    <%= f.text_field :estado, :class => 'form-control', :placeholder => 'Estado' %>
    </td></tr>
    <tr><td colspan="2"><h6 class="title text-black" style="margin-bottom: 10px; padding: 0 15px;">
							<strong>Telefones: </strong>
						</h6></td></tr>
    <tr><td>	
    <%= f.text_field :celular, :class => 'form-control', :placeholder => 'Celular' %>
    </td><td>
    <%= f.text_field :telefone, :class => 'form-control', :placeholder => 'Telefone' %>
    </td></tr>
    <tr><td colspan="2"><h6 class="title text-black" style="margin-bottom: 10px; padding: 0 15px;">
							<strong>Dados da conta: </strong>
						</h6></td></tr>
    <tr><td>
    <%= f.text_field :email, :class => 'form-control', :placeholder => 'E-mail' %>
    </td><td>
    <%= f.password_field :senha, :class => 'form-control', :placeholder => 'Senha' %>
    </td></tr>
    <tr><td colspan="2">
    <%= f.submit "Cadastrar", :class => 'btn btn-success' %>
    </td></tr>
  </div>
</table>
<% end %>
